<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Enviado</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <h1>Relatório feito com sucesso</h1>
    <h3>Download do Relatório</h3>
    <br><br>
    <a href='../download'><p>Clique aqui para fazer o download do relatório!</p></a>
    <br>
    <h3>Após fazer o download no link acima, exclua o arquivo no servidor</h3>
    <br>
    <a href='/excluir'><p>Excluir arquivo e voltar para a página inicial</p></a>
    <br>
</body>
</html>